#if ($attackStep.getChildPointers().size()>0)
    @Override
    public Set<AttackStep> getAttackStepChildren()  {
        Set<AttackStep> set = new HashSet<>( #if(!$attackStep.isSpecialization()) super.getAttackStepChildren() #end );
        #foreach ($childPointer in $attackStep.getChildPointers())
            #set($parentStep = "")
            #parse("attacksteppointer.vm")
        #end
        return set;
    }
#end